@charset "UTF-8";
body {
	background-color: #EEE;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	box-sizing: border-box;
}
.avatar, .avatar img {
	border-radius: 50%;
}
.user-col{ text-align: right;}
.userinfo {
	text-align: left;
	margin-top: 20px;
}
.name {
	font-weight: lighter;
	letter-spacing: -2px;
	margin: 30px 0 0 0;
}
.slogan, .slogan .material-icons {
	font-size: 16px;
	margin: 3px 2px;
}
.material-icons {
	vertical-align: middle;
	font-size: 18px;
}
.header-form {
	margin: 10px;
	text-align: center;
	vertical-align: middle;
}
.form-control:focus {
    border-color: #009e9c;
    outline: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,158,156,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,158,156,.6);
}
.btn-default {
	color: #009e9c;
	border-color: #009e9c; 
}
.btn-default:hover,.btn-default:active, .btn-default:active:hover {
	color: #009e9c;
	border-color: #009e9c; 
}
.btn-default:focus {
	outline: 0!important;
	color: #009e9c;
	border-color: #009e9c;
}
.container {
	width: 900px;
}
.tracks, .track {
	font-size: 0px;
}
.tracks, .tracks a {
	color: #009e9c;
	text-align: center;
	text-decoration: none;
}
.tracks .material-icons {
	font-size: 18px;
}
.art {
	width: 118px;
}
.song {
	width: 200px;
}
.artist {
	width: 170px;
}
.date {
	width: 90px;
}
.user {
	width: 110px
}
.dw {
	width: 120px;
}
.rating {
	width: 90px;
}
.track .rating .material-icons {
	font-size: 12px;
	width: 12px;
	overflow: hidden;
}
.b-b {
	border-bottom: 1px solid #CCC;
}
.b-r {
	border-right: 1px dashed #CCC;
}
.grey{ color: #CCC; }
.sort_up:after {
	content: "▾";
}
.sort_dl:after {
	content: "▴";
}
.track {
	color: #009e9c;
	background-color: #FFF;
	margin-top: 5px;
	border: 1px solid #CCC;
}
.track .row {
	margin: 3px 0;
	font-size: 0px;
	text-align: center;
}
.thumbnail {
	margin: 3px;
}
.track .row div {
	height: 50px;
}
.player {
	width: 20px;
    height:20px;
    font-size: 20px;
    margin: 0;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    overflow: hidden;
}
.toggle{
	padding: 18px 18px 0 18px;
	font-size: 0;
}
.inverse{
 	direction: rtl;
 	display: inline-block; /* inline-block to keep parent at the left of window */
}
.inverse a {
	color: #009e9c;
}
.inverse a:hover, .inverse a:hover ~ a{ /* On hover target it's "previous";) elements */
	color: #FFD700;
}
.red {
	color: #009e9c;
}
.red:hover {
	color: #BD0B0B;
}
.blue:hover {
	color: #7E009E;
}
.footer {
	text-align: center;
}
.msg {
	font-size: 14px;
	color: #fff!important;
	background-color: #009e9c!important;
	padding: 3px;
	margin: 5px;
	border-radius: 3px; 
	margin-bottom: 5px; 
}
.form-group .msg {
	margin: 0 3px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.msg .material-icons {
	font-size: 18px;
	vertical-align: bottom;
}
.white-form {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 10px;
}
.caption .material-icons {
	vertical-align: top;
}
.mynav {
	padding: 8px 15px;
    margin-bottom: 20px;
    list-style-type: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    text-align: center;
}
.mynav li{
	margin: 0 10px;
	padding: 0;
	display: inline-block;
}